<main>
    <!-- section hero -->
    <section class="flex justify-center bg-gray-100">
        <div
            class="h-96 col-span-4 bg-gradient-to-tr mt-10 from-indigo-800 to-indigo-500 rounded-md flex items-center justify-center">
            <div class="ml-20 w-80">
                <h2 class="text-white text-4xl">Adsla</h2>
                <p class="text-indigo-100 mt-4 capitalize font-thin tracking-wider leading-7">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Sed, dolore?</p>
                <a href="#"
                    class="uppercase inline-block mt-8 text-sm bg-white py-2 px-4 rounded font-semibold hover:bg-indigo-100">get
                    start</a>
            </div>
        </div>
    </section>
</main>