<main class="shadow-lg">
    <section class="flex justify-center bg-gray-100 w-full">
        <div class="bg-white mt-6 w-3/4">
            <!-- component -->
            <div class="max-w-2xl mx-auto bg-gray-100 rounded-lg overflow-hidden shadow-md mt-6 mb-0">

                <div class="p-4">
                    <div class="max-w-md mx-auto p-2 rounded-lg">
                        <div class="flex items-center justify-center">
                            <img src="../../../../assets/img/transmision.gif" class="w-30 sm:w-32 md:w-40 lg:w-48" alt="Futura TV" />
                        </div>
                        <!-- Controles del reproductor -->
                        <div class="flex items-center justify-center space-x-4">
                            <audio controls autoplay muted>
                                <source src="https://6d28c1fb4cfc.ngrok.app/mystream.mp3" type="audio/mp3">
                                Your browser does not support the audio element.1
                            </audio>
                        </div>
                    </div>                    
                </div>
            </div>

            <div>
                <!-- Image gallery -->
                <section class="text-gray-600 body-font">
                    <div class="container px-5 py-8 mx-auto flex flex-wrap">
                      <div class="flex flex-wrap md:-m-2 -m-1">
                        <div class="flex flex-wrap w-1/2">
                          <div class="md:p-2 p-1 w-1/2">
                            <img alt="gallery" class="w-full object-cover h-full object-center block" [src]="obtenerAnuncioPorTag('Anuncio2')">
                          </div>
                          <div class="md:p-2 p-1 w-1/2">
                            <img alt="gallery" class="w-full object-cover h-full object-center block" [src]="obtenerAnuncioPorTag('Anuncio3')">
                          </div>
                          <div class="md:p-2 p-1 w-full">
                            <img alt="gallery" class="w-full h-full object-cover object-center block" [src]="obtenerAnuncioPorTag('Anuncio4')">
                          </div>
                        </div>
                        <div class="flex flex-wrap w-1/2">
                          <div class="md:p-2 p-1 w-full">
                            <img alt="gallery" class="w-full h-full object-cover object-center block" [src]="obtenerAnuncioPorTag('Anuncio5')">
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
        </div>
    </section>
</main>