<header>
    <div class=" min-h-20 max-w-full w-full mx-auto">
        <div class="inline-block w-full h-20 sm:h-auto">
            <img [src]="obtenerAnuncioPorTag('Anuncio1')" alt="Futura TV"
                class="w-full h-full object-cover sm:w-auto sm:h-auto">
        </div>
    </div>
    <div class="antialiased bg-gray-400">
        <div class="lg:px-20  px-10 bg-white flex flex-wrap items-center">
            <!-- Primera imagen -->
            <div class="ml-40 sm:ml-30 mr-4">
                <img routerLink="/" src="../../../../assets/img/futura_923.png" class="w-20 sm:w-32 md:w-40 lg:w-48" alt="Futura TV" />
            </div>

            <!-- Segunda imagen -->
            <div class="flex-1 flex justify-between items-center mr-4 mb-0 sm:mr-30">
                <img routerLink="/" class="w-20 sm:w-32 md:w-40 lg:w-48" src="../../../../assets/img/futuratv.png" alt="Futura TV" />
            </div>



            <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900"
                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg></label>
            <input class="hidden" type="checkbox" id="menu-toggle" />

            <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
                <nav>
                    <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
                        <li><a class="lg:p-4  px-0 block border-b-2 border-transparent hover:border-indigo-400"
                                routerLink="/">Inicio</a>
                        </li>
                        <li *ngIf="loggedIn"><a class="lg:p-4  px-0 block border-b-2 border-transparent hover:border-indigo-400"
                            routerLink="/ad-administrator/administration">Anuncios</a>
                        </li>
                        <li><a class="lg:p-4 px-0 block border-b-2 border-transparent hover:border-indigo-400"
                                routerLink="/contact">Contacto</a></li>
                        <li><a class="lg:p-4 px-0 block border-b-2 border-transparent hover:border-indigo-400 lg:mb-0 mb-2"
                                [routerLink]="loggedIn ? '/' : '/sign-in'" (click)="toggleSession()">{{ loggedIn ?
                                'Cerrar Sesión' : 'Iniciar Sesión' }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>